.about-container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
}
.about-text h1 {
  font-size: 3rem;
  text-decoration: underline;
  margin-top: 6rem;
}
.about-text p {
  text-align: justify;
  margin-top: 2rem;
}
@media screen and (max-width: 855px) {
  .about-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem 2rem;
  }
  .about-text p {
    text-align: justify;
    margin-top: 2rem;
  }
}
